<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$charset" />
<title>$SEO[title]</title><!--{$SCRIPTNAME}<base href="$HTTPHOST">-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="http://$DOMAIN/$ui/common.css" rel="stylesheet" type="text/css" />
<link href="http://$DOMAIN/$ui/mobile.css" rel="stylesheet" type="text/css">
<link href="http://$DOMAIN/$ui/color.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]><script src="http://$DOMAIN/$ui/css3-mediaqueries.js"></script><![endif]-->
<!--[if lt IE 9]><link href="http://$DOMAIN/$ui/windows.css" rel="stylesheet" type="text/css"><![endif]-->
<link href="http://$DOMAIN/$ui/activeSwitch.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="zPage" class="$m"><!--onMouseOver="PANEL.style.display='none';"-->

<div id="MAIN" class="nav">
	<li class="navleft"><a href="javascript:history.go(-1);"><span class="goback"></span></a></li>
	<li class="navright"><a href="javascript:document.location.reload()"><span class="reload"></span></a></li>
	<h1>$SEO[titlehtml]</h1>
</div>